language: node_js
dist: trusty
env:
  global:
    - ARTIFACTS_AWS_REGION=us-west-2
    - ARTIFACTS_S3_BUCKET=lighthouse-screenshots-debugging
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
    - ARTIFACT_NAME=lh_${TRAVIS_BRANCH/\//-}_${TRAVIS_BUILD_ID}-node
    - secure: WNrQ6K8eS8/lVml6qz031oV3HQM0M3WB1+1K9DTbjlVSuYgzu3tLGCRWn67tF8+3AQWIRDXyHByONrGinWTm1teZA9SaTzuVhMrO7CHdsWTWsypQ0UqJ6H4mH/wJwJv/kW6OtQSQJGUTF8kEz33nDQVW+iFWxJx3Ow4egya6cb9D89TnUJ0FBLxYYS2DjNTbIMVBMBqSGyrd/Ww5CoYzKR96Y9jby5IId9TFFJqk3qFfXVh3Diy5TX8hUvqUpD48cfQpxE8cLZ/uOXtRsHjwMvekCSG7fNMlbQ9nJ4MmnIwhdvFrKbx1xS7g5FdRfyN+q3QcDxskytWYmtzREoRjU3N6ao8IGsXG88yXpK1bdGQ2BdNAg4IltQDGMKMzVC37sAFmXvI9S00TmWQOoAu5D4KuW9Gchc+syCpZ+umqPGePgfGryWBt0slOkFi3mixavL0kAr1kAbWbeGFBLEeX80NFFm+F2qOMuwPSsmVJ8bsgsEp0DkceyggAqb9VDyTq9ci8l/pTGTQfqbEBcXgS19BY2zDldvncfmHFisd13zHOYkqn+pi+Ta87xlskL93FOxQFn14avJo/5iNa2HmEh8vq/jBbocVr+Tt+T+OMzN/RFGBfzqU4T2K3rj9hG1cCgZFuVm+sdSuulzeUjV7y3rDAT3eAUwBnERCzwDhCpT0=
    - secure: UdWqkZHhU2PDMKleiL386FHI6S+N0PETDd5RWPBNM/YvMREWHyWeb3vZwsMqSVri1DNk8SqI2d0PC4/jLGKchRBqlO4+smuw9f09ihn+mGI67GFsyJu6UQ5/nz5eiUKx2ZRsuB8t8BbCGiOWh+UQUuHTEgAi8ndL+ml+Vy1XRpqbT49rOTKcr+G/4J+TyEjq+wRrpZMZmhYeX0EZAcofL8KYvgbV5jbkOnQV2oI0cyCO1FQxnIz9yopvwrMlKz/1jmKiRyJOj0YaKSJ5lWs0G2RFsWmXrEAgDAlOqoJ2QCTCM5M1Fnh+0oWPholN7X4Nj/USqxRlcGaUwDLh5RhcDlrFv+wC9iBIDIay3K1/IKndikkO8OP+tCYDlx2VQRX50LPUTEQzrXEbD6pFUl1ezLQCZPejX7R/HI5rOr8WcmZzKXtl1MP0h8YX1e9HX7gXBUB0RGwnTV/P+Q6WEcxN32T/xdwbYi/YQsXfzeL7fzF5PI5LnaAc141lhcUiILs9HwnEyB7gWWLlut+GNKfse6DrNkKc3I12TVVMbHWuP2waGuc1EMcMCyC/9lb17sk5q1gbIbAsSWki9mHtrJsk0KtriKY/uOFiK5W6Dno1ITbMqbTvIelMKgQPkjYmvqyLDhADRXQz9kxlSmxcdTG5dB9lOm6ubFdRmWEPhPumq4I=
cache:
  yarn: true
  directories:
    - node_modules
    - chrome-launcher/node_modules
    - lighthouse-cli/node_modules
    - lighthouse-extension/node_modules
    - lighthouse-viewer/node_modules
    - /home/travis/.rvm/gems/
    - "${HOME}/google-cloud-sdk/"
before_install:
  - openssl aes-256-cbc -K $encrypted_83706645e717_key -iv $encrypted_83706645e717_iv -in gcloud-credentials.json.enc -out gcloud-credentials.json -d
install:
  # stop travis when PR and not node 6.9.1
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ] && [ "$TRAVIS_NODE_VERSION" != "6.9.1" ]; then travis_terminate 0; fi'
  - yarn run install-all:task
  - 'if [ ! -d "${HOME}/google-cloud-sdk/bin" ]; then rm -rf ${HOME}/google-cloud-sdk; curl https://sdk.cloud.google.com | bash; fi'
script: "echo \"do nothing\""
jobs:
  include:
    - &prep-cache
      stage: Prepare cache
      env:
        - LINT=true
        - SMOKE=true
        - UNIT=true
      script:
        - source /home/travis/google-cloud-sdk/path.bash.inc
        - yarn build-ci
        - tar -czf ${ARTIFACT_NAME}-${TRAVIS_NODE_VERSION}.tar.gz ./**
        - gcloud auth activate-service-account --key-file gcloud-credentials.json
        - gsutil cp ${ARTIFACT_NAME}-${TRAVIS_NODE_VERSION}.tar.gz gs://lighthouse-ci
      node_js: "6.9.1"
    - <<: *prep-cache
      node_js: "7"
    - <<: *prep-cache
      node_js: "8"
    - &tests
      stage: Test
      env:
        - LINT=true
      install: skip
      script:
        - source /home/travis/google-cloud-sdk/path.bash.inc
        - gcloud auth activate-service-account --key-file gcloud-credentials.json
        - gsutil cp gs://lighthouse-ci/${ARTIFACT_NAME}-${TRAVIS_NODE_VERSION}.tar.gz ./
        - tar -xzf ${ARTIFACT_NAME}-${TRAVIS_NODE_VERSION}.tar.gz
        - 'if [ "${LINT}" = "true" ]; then yarn test-cli-formatting; fi'
        - 'if [ "${LINT}" = "true" ]; then yarn test-launcher-formatting; fi'
        - 'if [ "${LINT}" = "true" ]; then yarn lint; fi'
        - 'if [ "${LINT}" = "true" ]; then yarn closure; fi'
        - 'if [ "${UNIT}" = "true" ]; then yarn unit; fi'
        - 'if [ "${UNIT}" = "true" ]; then yarn smokehouse; fi'
        - 'if [ "${SMOKE}" = "true" ]; then yarn compile-devtools; fi'
        - 'if [ "${SMOKE}" = "true" ]; then yarn smokehouse; fi'
      node_js: "6.9.1"
      addons:
        chrome: stable
    - <<: *tests
      env:
        - LINT=false
        - UNIT=true
    - <<: *tests
      env:
        - LINT=false
        - SMOKE=true
    - <<: *tests
      node_js: "7"
    - <<: *tests
      env:
        - LINT=false
        - UNIT=true
      node_js: "7"
    - <<: *tests
      env:
        - LINT=false
        - SMOKE=true
      node_js: "7"
    - <<: *tests
      node_js: "8"
    - <<: *tests
      env:
        - LINT=false
        - UNIT=true
      node_js: "8"
    - <<: *tests
      env:
        - LINT=false
        - SMOKE=true
      node_js: "8"

before_cache:
  # the `yarn compile-devtools` task adds these to node_modules, which slows down caching
  - rm -rf ./node_modules/temp-devtoolsfrontend/
  - rm -rf ./node_modules/temp-devtoolsprotocol/

